# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# package-lock.json
package-lock.json

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Coverage directory used by testing tools
coverage/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary add-ons
build/Release

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# IDE/editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Typescript compiled files
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Mongo dump files
dump/

# PM2 logs
pids/
logs/

# Misc
*.tgz
